
/* Fonte Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Paleta de cores */
    --color-01: #f9f9f9;
    --color-02: #1f1f1f;
    --color-03: #a81717;
    --color-04: #2a148d99;
    --color-05: #7b0849;
    --color-06: #0d6b0d99;
    --color-07: #b5aa12;
    --color-08: #ac4a0d99;
    --color-09: #27bfe199;
    --color-10: #b604b9;
    --color-11: #e7c72699;
    --color-11: #01aa6f99;
    
    /* Sombra */
    --shadow: 0 0 1rem 1rem var(var(--color-02));
}

/* Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: #e0e0e0;
    color: #232323;
}

nav {
    position: fixed;
    z-index: 100;
    padding: 0.5rem 4rem;
    background-color: var(--color-02);
    width: 100%;
    top: 0;

    ul {
        list-style-type: none;
        display: flex;
        gap: 0.5rem;
        justify-content: flex-end;

        a {
            color: var(--color-01);
            text-decoration: none;
            padding: 0.5rem 1rem;
            /* border: #b5aa12 solid; */
            transition: all 0.5s;
            font-weight: 500;
            letter-spacing: 0.1rem;

            &:hover {
                color: var(--color-07);
            }
        }
    }
}

header {
    background-color: rgb(203, 203, 203);
    /* margin-top: 2rem; */
    padding: 6rem 4rem 3rem;
}

footer {
    background-color: var(--color-05);
    color: #f9f9f9;
    min-height: 15rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2rem 4rem;
}

main {
    padding: 2rem 4rem;
    min-height: 100vh;
}

#sectionProducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.product-card {
    background-color: #f1f0f0;
    border-radius: 0.5rem;
    overflow: hidden;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.05);
        cursor: pointer;
        box-shadow: 0 0 1rem 0.1rem var(--color-02)
    }
}

.product-img {
    width: 100%;
    display: flex;

    img {
        width: 100%;
    }
}

.product-info {
    padding: 1rem;

    p {
        margin: 1rem 0;
    }
}

.product-action {
    padding: 1rem;
    display: flex;
    justify-content: space-between;

    button {
        padding: 0.5rem 1rem;
        background-color: #f7ff00;
        border: none;
        cursor: pointer;
        border-radius: 0.5rem;
        font-size: 1rem;
        transition: all 0.3s;

        p {
            margin: 1rem 0;
        }


        &:hover {
            filter: brightness(1.1);
        }
    }
}